<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>RecrUIter</title>
    <link rel="stylesheet" href="/public/site.css">
</head>
<body>
    <header>
      <p>I'm a header</p>
    </header>
    <p>I will be on every page of the site</p>
    <main>
        {{{body}}}
    </main>
    <footer>I'm a footer</footer>
    <script src='/public/site.js'></script>
</body>
</html>