body{
    margin: 50px;
    padding: 0;
    font-family: sans-serif;
    background: rgb(35, 55, 78);
    color: white;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#div1 {
    width: 100px;
    height: 30px;
    padding: 5px;
    border: 1px solid #aaaaaa;
  }

.box{
    width: 1000px;
    height: 600px ;
    padding: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgb(240, 240, 241);
    text-align: center;
    border-radius: 20px;
    border-style: solid;
    border-width: 7px;
    border-color: grey;
    color: black;
}

h1{

    font-size: 30px;
}

.lists{
    display: flex;
    flex: 1;
    width: 100%;
    height: 65%;
    
}

.lists .list{
    display: flex;
    flex-flow: column;
    flex: 1;
    margin: 5px  100px;
    padding: 10px;
    transition: all 0.2s linear;
    background-color: lightgray;
    border-radius: 10px;
}
.lists .list2 .list{
    width:200px;
    height: 30px;
    transition: all 0.2s linear;
    background-color: lightgray;
    border-radius: 10px;
}



.lists .list-item{
    height: 45px;
    border: darkgrey;
    margin: 2px 2px;
    padding:0px;
    cursor: pointer;
    background-color: darkgrey;
    border-radius: 10px;
}


.option .Next{
    text-align: center;
    background-color: rgb(42, 151, 42);
    width: 100px;
    height: 30px;
    border-radius: 20px;
    float: right;
}

.option input[type="submit"]:hover {
    height: 40px;
    cursor: pointer;
}

.option .Back{
    text-align: center;
    background-color: red;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    float: Left;
}

.option .Answer_Later{
    text-align: center;
    background-color: grey;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    float: Center;
}
