body{
    margin: 50px;
    padding: 0;
    font-family: sans-serif;
    background: rgb(35, 55, 78);
    color: white;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.box{
    width: 1000px;
    height: 400px ;
    padding: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgb(240, 240, 241);
    text-align: center;
    border-radius: 20px;
    border-style: solid;
    border-width: 7px;
    border-color: grey;
    color: black;
}