body{
    margin: 50px;
    padding: 0;
    font-family: sans-serif;
    background: rgb(35, 55, 78);
    color: white;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.box{
	height: 80vh;
    width: 80vw;
    padding: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgb(240, 240, 241);
    border-radius: 20px;
    border-style: solid;
    border-width: 7px;
    border-color: grey;
    color: black;
	line-height:1.6;
}

h1{
    font-size: 30px;
}

.groupPic{
	vertical-align:center;
	width: 50vw;
	height: 50vh;
	border:0;
}


.option{
    position: relative;
    top: 1em;
}

.option input[type="submit"]:hover {
    height: 40px;
    cursor: pointer;
}

.option .Next{
    text-align: center;
    background-color:  rgb(42, 151, 42);
    width: 100px;
    height: 30px;
    border-radius: 20px;
    float: right;
    float: bottom;
}

.option .Back{
    text-align: center;
    background-color:red;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    float: Left;
}

.option .Answer_Later{
    text-align: center;
    background-color: grey;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    float: Center;
}