/* rule 1 */
html,
body {
	font-size: 16pt;
}

/* rule 2 */
body {
	background: #f4e2ab;
	color: #222;
	font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

/* rule 3 */
h1 {
	font-family: "Arial Black", Gadget, sans-serif;
}

/* rule 4 */
.new-post-form {
	max-width: 300px;
}

/* rule 5 */
.new-post-form .full-width-input {
	display: block;
	min-height: 3em;
	margin: 10px 0;
	width: 100%;
}

/* extra rules */

label {
	font-weight: bold;
}

