{{!-- At a job training workshop, it is important to…
Implement team building exercises and icebreakers
Create short-term and long-term goals for the organization --}}

<div class="card">
  <h5 class="card-header">Question 1</h5>
  <div class="card-body">
    <h5 class="card-title">At a job training workshop, it is important to…</h5>
    <div class="custom-control custom-radio">
      <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
      <label class="custom-control-label" for="customRadio1">Implement team building exercises and icebreakers</label>
    </div>
    <div class="custom-control custom-radio">
      <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
      <label class="custom-control-label" for="customRadio2">Create short-term and long-term goals for the organization</label>
    </div>
    <br />
    <br />
    <a href="#" class="btn btn-primary">Next Question</a>
  </div>
</div>


