
<div class="card">
  <h5 class="card-header">Question 2</h5>
  <div class="card-body">
     
    <h5 class="card-title">How far would you go on this cliff?</h5>
    <p class="card-text">More distance from camp means higher chances of life threatening danger</p>
    <img src ="http://localhost:3000/public/pictures/Cliff.PNG" alt ="cliff picture" class="cliff-pic">
    
    <div class="slidecontainer">
    <input type="range" min="1" max="100" value="1" class="slider" id="myRange">
    </div>
    <p>Distance from camp: <span id="demo"></span></p>    
    <a href="#" class="btn btn-primary">Next Question</a>
  </div>
</div>